{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/series-detail.css">
<script src="/static/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="/static/css/colorbox.css">
<script src="/static/js/jquery.colorbox-min.js"></script>
{% endblock %}

{% block title %}My queues{% endblock %}

{% block content %}

<div class="series-detail" id="top"></div>

<div class="col-xl-12">

<div id="pre-fixed"></div>
<div class="row">
<div class="col-xl-2">
    <div id="fixed" class="list-group">
        <a href="#" class="list-group-item list-group-item-action" id="btn-expand-all">Expand all</a>
        <a href="#" class="list-group-item list-group-item-action" id="btn-fold-all">Fold all</a>
    </div>
</div>

<div class="col-xl-10">
{% if data %}
{% for pid, queues in data.items %}
  {% with pn=projects|get:pid %}
    {% for qn, msgs in queues.items %}
        <div class="card">
            <div class="card-header card-toggler" onclick="return patchew_toggler_onclick(this)">
            <div class="text-larger mb-0 card-title"><a href="{% url "maintainer_queue" project=pn name=qn %}">Queue: {{ qn }} [{{ pn }}]<span class="hover-icon fa fa-sm fa-external-link-alt"></span></a>
</a></div>
            </div>
	    <ul class="no-bullet card-body card-collapse collapse{% if qn != "reject" %} show" aria-expanded="true"{% else %}" aria-expanded="false"{% endif %}>
            {% for patch in msgs %}
                <li><a href="/{{ pn }}/{{ patch.message_id }}/">
                  <span class="fa-lg fa fa-ellipsis-v"></span>
                  {{ patch.subject }}
                  </a></li>
            {% endfor %}
            </ul>
	</div>
    {% endfor %}
  {% endwith %}
{% endfor %}
{% else %}
<p>You haven't created any queue</p>
{% endif %}
</div>
</div>

<script type="text/javascript">

function main() {
    $(".timestamp").each(function (i, o) {
        $(o).attr("title", new Date(1000 * $(o).attr("title")));
    });
    $("#btn-expand-all").click(function (e) {
        $(".card-collapse").collapse("show");
	e.preventDefault();
    });
    $("#btn-fold-all").click(function (e) {
        $(".card-collapse").collapse("hide");
	e.preventDefault();
    });
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
        $(".cbox-log").colorbox({width:"90%", height: "80%", iframe: true,
                                 href: function() {
                                     link = $(this).data('link');
                                     return link ? link : $(this).attr('href');
                                 }, onComplete: function() {
                                     setTimeout(function() {
                                         $('.cboxIframe')[0].contentWindow.focus();
                                      }, 400);
                                 }});
    });
    add_fixed_scroll_events();
}

$(main);

</script>

{% endblock %}
