{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info login-panel">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="alert alert-danger" role="alert">
    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
{% endif %}


<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-group">
    <div>{{ form.old_password.label_tag }}</div>
    {{ form.old_password.errors }}
    <div>{{ form.old_password }}</div>
</div>

<div class="form-group">
    <div>{{ form.new_password1.label_tag }}</div>
    {{ form.new_password1.errors }}
    <div>{{ form.new_password1 }}</div>
    {% if form.new_password1.help_text %}
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-group">
    <div>{{ form.new_password2.label_tag }}</div>
    {{ form.new_password2.errors }}
    <div>{{ form.new_password2 }}</div>
    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="default" />
</div>

</div>
</form>

            </div>
        </div>
    </div>
</div>


{% endblock %}
