{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/thread.css">
{% endblock %}

{% block content %}

<div id="top"></div>

<div class="col-lg-2">
    <div class="list-group">
        <a href="#" class="list-group-item" id="btn-expand-all">Expand all</a>
        <a href="#" class="list-group-item" id="btn-fold-all">Fold all</a>
        <a href="{% url "series_list" project=project %}" class="list-group-item list-group-item-info">Patches</a>
        {% for op in series_operations %}
            <a href="{{ op.url }}" class="list-group-item list-group-item-info">{{ op.title }}</a>
        {% endfor %}
    </div>
</div>
<div class="col-lg-10">
    <ul class="list-group">
        {% if project.logo %}<li class="list-group-item"><img alt="Project Logo" src="{{ project.logo.url }}" /></li>{% endif %}
        <li class="list-group-item">
            Project: <strong>{{ project.name }}</strong></li>
        {% if project.description %}<li class="list-group-item">{{ project.description }}</li>{% endif %}
        {% if project.url %}<li class="list-group-item">URL: <strong><a href="{{ project.url }}">{{ project.url }}</a></strong></li>{% endif %}
        <li class="list-group-item">Total series: <a href="{% url "series_list" project=project %}">{{ project.total_series_count }}</a></li>
    </ul>

    {% for info in project.extra_info %}
    <div class="panel {% if info.is_error %}panel-danger{% else %}panel-default{% endif %}">
        <div class="panel-heading panel-toggler" onclick="$(this).parent().find('.panel-toggle').toggle()">
            {{ info.title }}
        </div>
        <div class="panel-body panel-toggle panel-hidden">
            {{ info.content | safe }}
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">

function main() {
    $("#btn-expand-all").click(function () {
        $(".panel-toggle").show();
    });
    $("#btn-fold-all").click(function () {
        $(".panel-toggle").hide();
    });
}

$(main);

</script>

{% endblock %}
