{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/project-detail.css">
<link rel="stylesheet" href="/static/css/colorbox.css">
<script src="/static/js/jquery.colorbox-min.js"></script>
{% endblock %}

{% block content %}

<div id="top"></div>
<div class="col-lg-12">
<h2>{% if project.logo %}<img alt="Project Logo" src="{{ project.logo.url }}" class="project-logo"/></li>{% endif %}{% block title %}{{ project.name }}{% endblock %}</h2>
{% if project.description %}<div class="project-description">{{ project.description }}</div>{% endif %}

{% if project.extra_ops %}
<div id="detail-ops">
  <ul>
    {% for op in project.extra_ops %}
    <li>
      <span class="fa fa-{% if op.icon %}{{ op.icon }}{% else %}question{% endif %}"></span><a
        href="{{ op.url }}">{{ op.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="status">
<div class="status-content">
  <span class="fa fa-lg fa-external-link"></span><div>URL: <a href="{{ project.url }}">{{ project.url }}</a></div>
</div>
<div class="status-content">
  <span class="fa fa-lg fa-git"></span><div>Git: <a href="{{ project.git }}">{{ project.git }}</a></div>
</div>
{% if project.get_subprojects %}
<div class="status-content">
  <span class="fa fa-lg fa-sitemap"></span><div>Subprojects:
    {% for p in project.get_subprojects %}
      <a href="{% url "project_detail" project=p %}">{{ p.name }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% for status in project.extra_status %}
 <div class="status-content{% if status.kind %} status-{{ status.kind }}{% endif %}">
 {% if status.icon %}<span class="fa fa-lg fa-{{ status.icon }}"></span>
 {% elif status.kind == "running" %} <span class="fa fa-lg fa-refresh fa-spin"></span>
 {% elif status.kind == "alert" %} <span class="fa fa-lg fa-warning"></span>
 {% elif status.kind == "good" %} <span class="fa fa-lg fa-check"></span>{% endif %}
 <div>{{ status.html }}</div>
</div>
{% endfor %}
<div class="status-content">
  <div><a href="{% url "series_list" project=project %}">View {{ project.total_series_count }} series</a></div>
</div>
</div>

<div id="pre-fixed"></div>
<div class="col-lg-2">
    <div id="fixed" class="list-group">
        <a href="#" class="list-group-item" id="btn-expand-all">Expand all</a>
        <a href="#" class="list-group-item" id="btn-fold-all">Fold all</a>
    </div>
</div>
<div class="col-lg-10">
    {% for info in project.extra_info %}
    <div class="panel panel-{{ info.class }}">
        <div class="panel-heading panel-toggler" onclick="patchew_toggler_onclick(this)">{{ info.title }}</div>
        <div class="panel-body panel-collapse collapse">
            {% if info.content_html %}{{ info.content_html | safe }}{% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">

function main() {
    $("#btn-expand-all").click(function () {
        $(".panel-collapse").collapse("show");
    });
    $("#btn-fold-all").click(function () {
        $(".panel-collapse").collapse("hide");
    });
    $(document).ready(function() {
        $(".cbox-log").colorbox({width:"90%", height: "80%", iframe: true,
                                 href: function() {
                                     link = $(this).data('link');
                                     return link ? link : $(this).attr('href');
                                 }, onComplete: function() {
                                     setTimeout(function() {
                                         $('.cboxIframe')[0].contentWindow.focus();
                                      }, 400);
                                 }});
    });
    add_fixed_scroll_events();
}

$(main);

</script>

{% endblock %}
