{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div id="top"></div>

<div class="col-lg-2">
    <div class="list-group">
        <a href="#" class="list-group-item" id="btn-expand-all">Expand all</a>
        <a href="#" class="list-group-item" id="btn-fold-all">Fold all</a>
        <a href="{% url "series_list" project=project %}" class="list-group-item list-group-item-info">Patches</a>
        {% for op in project.extra_ops %}
            <a href="{{ op.url }}"
               class="list-group-item list-group-item-{% if op.class %}{{ op.class }}{% else %}info{% endif %}">{{ op.title }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="col-lg-10">
    <ul class="list-group">
        {% if project.logo %}<li class="list-group-item"><img alt="Project Logo" src="{{ project.logo.url }}" /></li>{% endif %}
        <li class="list-group-item">
            Project: <strong>{{ project.name }}</strong></li>
        {% if project.description %}<li class="list-group-item">{{ project.description }}</li>{% endif %}
        {% if project.url %}<li class="list-group-item">URL: <strong><a href="{{ project.url }}">{{ project.url }}</a></strong></li>{% endif %}
        {% if project.git %}<li class="list-group-item">Git: <strong><a href="{{ project.git }}">{{ project.git }}</a></strong></li>{% endif %}
        <li class="list-group-item">Total series: <a href="{% url "series_list" project=project %}">{{ project.total_series_count }}</a></li>
        {% for header in project.extra_headers %}
            <li class="list-group-item">{{ header }}</li>
        {% endfor %}
    </ul>

    {% for info in project.extra_info %}
    <div class="panel panel-{{ info.class }}">
        <div class="panel-heading panel-toggler" onclick="patchew_toggler_onclick(this)">{{ info.title }}</div>
        <div class="panel-body panel-toggle panel-hidden" {% if info.content_url %}data-content-url="{{ info.content_url | safe }}"{% endif %}>
            {% if info.content %}
                {{ info.content | safe }}
            {% elif info.content_url %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <p>loading</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">

function main() {
    $("#btn-expand-all").click(function () {
        $(".panel-toggle").show();
    });
    $("#btn-fold-all").click(function () {
        $(".panel-toggle").hide();
    });
}

$(main);

</script>

{% endblock %}
