{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/jsdifflib/diffview.css">
<link rel="stylesheet" href="/static/css/series-diff.css">
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
<script src="/static/jsdifflib/munkres.js"></script>
{% endblock %}

{% block title %}
 Series comparison
{% endblock %}

{% block content %}

<div id="top"></div>

<div class="col-lg-12">
    <div id="diffoutput">
    </div>
</div>


<textarea id="null" data-subject="" style="display: none;"></textarea>
{% for m in series_left %}
<textarea id="left{{forloop.counter}}" data-icon="{% if m.has_replies %}fa-comment-o{% else %}fa-ellipsis-v{% endif %}" data-href="{{m.link}}" data-subject="{{m.subject}}" style="display: none;">{{m.body}}</textarea>
{% endfor %}
{% for m in series_right %}
<textarea id="right{{forloop.counter}}" data-icon="{% if m.has_replies %}fa-comment-o{% else %}fa-ellipsis-v{% endif %}" data-href="{{m.link}}" data-subject="{{m.subject}}" style="display: none;">{{m.body}}</textarea>
{% endfor %}

<script type="text/javascript">
function toggleDiff()
{
    tgt = $(this).parents("table").find("tbody");
    tgt.toggle();
}

function buildTitleCell(textArea, defaultText)
{
    if (textArea.data('subject') == '') {
	elem = $('<div></div>', { 'text': defaultText });
    } else {
        span = $('<span></span>',
	         { 'class': 'fa fa-lg ' + textArea.data('icon') });
        a = $('<a></a>',
	      { 'href': textArea.data('href'),
	        'text': textArea.data('subject')
	      }).click(function(event) { event.stopPropagation() });
        elem = $('<div class="patch-link"></div>').append([span, a]);
    }

    // extract DOM element out of jQuery object
    return elem.get(0);
}

function diffUsingJS(left, right, opcodes, trivial) {
    var contextSize = 5;

    // build the diff view and add it to the current DOM
    c = diffview.buildView({
        baseTextLines: left.lines,
        newTextLines: right.lines,
        opcodes: opcodes,
        // set the display titles for each resource
        baseTextName: buildTitleCell(left, 'New patch'),
        newTextName: buildTitleCell(right, 'Deleted patch'),
        contextSize: contextSize,
        viewType: $("inline").checked ? 1 : 0
    });
    if (trivial) {
        $(c).find("tbody").hide();
        $(c).addClass("trivial");
    }
    $("#diffoutput").append(c);
    return c;
}

function deleteFromArray(arr, element) {
    found = false;
    for (var i = 0; i < arr.length; i++) {
        if (arr[i] == element) {
            found = true;
        }
        if (found) {
            arr[i] = arr[i+1];
        }
    }
    if (found) {
        arr.pop()
    }
}

function computeWeight(opcodes) {
    w = 0;
    for (var i = 0; i < opcodes.length; i++) {
        // opcodes[1..2] is the range in the source
        // opcodes[3..4] is the range in the destination
        op = opcodes[i];
        if (op[0] != "equal") {
            w += (op[4]-op[3]+1) + (op[2]-op[1]+1);
        }
    }
    return w;
}

function crossDiff(left, right) {
    var i, j;
    var n;
    var orig_left_length = left.length;
    var orig_right_length = right.length;
    var quick_left = Array();
    var quick_right = Array();
    var opcodes = Array();
    var weights = Array();
    var remaining_lhs_patches = Array();

    // Pad the arrays to the same length, using dummy textareas.
    for (i = left.length; i < right.length; i++)
        left.push($("#null"));
    for (i = right.length; i < left.length; i++)
        right.push($("#null"));

    // Preparation pass: create two NxN matrices (opcodes and weights) and
    // split the textareas in lines
    n = left.length;
    for (i = 0; i < n; i++) {
        left[i].lines = difflib.stringAsLines(left[i].text())
        right[i].lines = difflib.stringAsLines(right[i].text())
        opcodes.push(Array()); opcodes[i].length = n;
        weights.push(Array()); weights[i].length = n;
        quick_left.push(-1);
        quick_right.push(-1);
    }

    // As an optimization, look for equal patches
    // Also, the cover letters always go against each other
    have_cover_letter = orig_left_length > 1 && orig_right_length > 1
    for (i = 0; i < orig_left_length; i++) {
        if (i == 0 && have_cover_letter) {
            quick_left[0] = quick_right[0] = 0
            continue;
        }
        for (j = 0; j < orig_right_length; j++) {
            if (quick_right[j] == -1 && left[i].text() == right[j].text()) {
                console.log(i + "," + j + " --> exact match");
                quick_left[i] = j
                quick_right[j] = i
                break;
            }
        }
    }

    for (i = 0; i < n; i++) {
        for (j = 0; j < n; j++) {
            // Skip diff for "impossible" matches
            if ((quick_left[i] != -1 || quick_right[j] != -1) &&
                quick_left[i] != j) {
                weights[i][j] = 100000;
                continue;
            }

            // create a SequenceMatcher instance that diffs the two sets of lines
            // opcodes is a list of 3-tuples describing what changes should be made to the base text
            // in order to yield the new text
            var base = left[i].lines;
            var newtxt = right[j].lines;
            var sm = new difflib.SequenceMatcher(base, newtxt);
            opcodes[i][j] = sm.get_opcodes();
            if (quick_left[i] == j) {
                weights[i][j] = 0;
            } else {
                weights[i][j] = computeWeight(opcodes[i][j]);
            }
            console.log(i + "," + j + " --> " + weights[i][j]);
        }
    }

    // Matching is an array of pairs (two-element arrays) corresponding
    // to the LHS and RHS respectively
    matching = computeMunkres(weights);

    // We'll print the patches according to the order of the "new" side
    // After this step, matching[j][1] == j
    matching = matching.sort(function(a, b) { return a[1]-b[1]; });

    // Let garbage collection get rid of unused diffs
    for (j = 0; j < n; j++) {
        i = matching[j][0];
        console.log(i + ":" + j + " (cost " + weights[i][j] + ")");
        matching[j].push(opcodes[i][j]);
    }
    opcodes = null;
    weights = null;

    // Mark the left patches that maps to a dummy right side
    deleted_lhs_patches = {}
    for (j = orig_right_length; j < n; j++) {
        i = matching[j][0];
        deleted_lhs_patches[i] = j;
        console.log("found deleted lhs patch " + i);
    }

    // This array is used later to order the diffs from the left-side series.
    for (i = 0; i < orig_left_length; i++)
        remaining_lhs_patches[i] = i;

    for (j = 0; j < orig_right_length; j++) {
        i = matching[j][0];
        var ops = matching[j][2];
        // Never hide the cover letter
        var hide = quick_left[i] != -1 && !(i == 0 && have_cover_letter);
        diffUsingJS(left[i], right[j], ops, hide);
        deleteFromArray(remaining_lhs_patches, i);

        // Deleted LHS patches are printed after all their prerequisites
        while (remaining_lhs_patches.length > 0 &&
               (remaining_lhs_patches[0] in deleted_lhs_patches)) {
            var ii = remaining_lhs_patches[0];
            var jj = deleted_lhs_patches[ii];
            var ops = matching[jj][2];
            console.log("can now emit lhs patch " + ii);
            diffUsingJS(left[ii], right[jj], ops, true);
            remaining_lhs_patches.shift();
        }
    }
}

$(function() {
    var left = Array();
    var right = Array();
{% for m in series_left %}
    left.push($("#left{{forloop.counter}}"));
{% endfor %}
{% for m in series_right %}
    right.push($("#right{{forloop.counter}}"));
{% endfor %}
    crossDiff(left, right);
    $(".diff thead th").click(toggleDiff);
});
</script>
{% endblock %}
