{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/jsdifflib/diffview.css">
<link rel="stylesheet" href="/static/css/series-diff.css">
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
{% endblock %}

{% block content %}

<div id="top"></div>

<div class="col-lg-12">
    <div id="diffoutput">
    </div>
</div>


<textarea id="series_left" data-subject="{{series_left.subject}}" style="display: none;">{{series_left_text}}</textarea>
<textarea id="series_right" data-subject="{{series_right.subject}}" style="display: none;">{{series_right_text}}</textarea>

<script type="text/javascript">

function diffUsingJS(first, second) {
    // get the baseText and newText values from the two textboxes, and split them into lines
    var base = difflib.stringAsLines(first.text());
    var newtxt = difflib.stringAsLines(second.text());

    // create a SequenceMatcher instance that diffs the two sets of lines
    var sm = new difflib.SequenceMatcher(base, newtxt);

    // get the opcodes from the SequenceMatcher instance
    // opcodes is a list of 3-tuples describing what changes should be made to the base text
    // in order to yield the new text
    var opcodes = sm.get_opcodes();
    var contextSize = 5;

    // build the diff view and add it to the current DOM
    c = diffview.buildView({
        baseTextLines: base,
        newTextLines: newtxt,
        opcodes: opcodes,
        // set the display titles for each resource
        baseTextName: first.data('subject'),
        newTextName: second.data('subject'),
        contextSize: contextSize,
        viewType: $("inline").checked ? 1 : 0
    });
    $("#diffoutput").append(c);
}

$(function() {
	diffUsingJS($("#series_left"), $("#series_right"));
});
</script>
{% endblock %}
