{% extends 'base.html' %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="/static/css/series-list.css">
{% endblock %}

{% block content %}

<div id="top"></div>
<div class="col-lg-12">
<h2>
 {% block title %}
 {{ title }}
 {% endblock %}
</h2>

{% if link_text %}
<div class="status">
<div class="status-content">
  {% if link_icon %} <span class="fa-lg {{ link_icon }}"></span>{% endif %}
  <div><a href="{{ link_url }}">{{ link_text }}</a></div>
</div>
</div>
{% endif %}


{% if series %}
<table class="table table-condensed table-striped">
    <tr>
        {% if project is None %}
        <th>Project</th>
        {% endif %}
        <th>Status</th>
        <th>Subject</th>
        <th>Author</th>
        <th>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% if order_by_reply %} Replied {% else %} Age {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ request.url }}?{% if search %}q={{ search }}&{% endif %}sort=age">Age</a></li>
                    <li><a href="{{ request.url }}?{% if search %}q={{ search }}&{% endif %}sort=replied">Replied</a></li>
                </ul>
            </div>
        </th>
    </tr>
    {% for s in series %}
      <tr class="{% for st in s.status_tags %}{% if st.row_class %}{{st.row_class}} {% endif %}{%endfor %}">
            {% if project is None %}
            <td>{{ s.project.name }}</td>
            {% endif %}
            <td class="series-status">
                {% for st in s.status_tags %}
                    {% if st.url %}<a href="{{ st.url }}">{% endif %}<span title="{{ st.title }}" class="label label-{{ st.type }}">{{ st.char }}</span>{% if st.url %}</a>{% endif %}
                {% endfor %}
            </td>
            <td>
                <a id="{{ s.message_id }}" href="{{ s.url }}" class="series-subject">{{ s.subject }}</a>
            </td>
            <td>
                <span title="{{ s.sender_full_name }}">
                    {{ s.sender_display_name }}
                </span>
            </td>
            {% if order_by_reply %}
            <td><span class="timestamp" title="{{ s.get_last_reply_date }}">{{ s.get_last_reply_date|naturaltime }}</span></td>
            {% else %}
            <td><span class="timestamp" title="{{ s.date }}">{{ s.date|naturaltime }}</span></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% else %}
    <div id="message">
      <p>No patches found.</p>
      <div class="frownie">:(</div>
    </div>
{% endif %}

{% if is_search %}
    {% if is_watched_query %}
        <p>Saved as my watched query</p>
    {% elif has_watched_query %}
        <button><a href="/watch-query/?q={{ search }}">Replace watched query</a></button>
    {% else %}
        <button><a href="/watch-query/?q={{ search }}">Watch query</a></button>
    {% endif %}
{% endif %}

<nav>
    <ul class="pagination pagination-sm">
        {% for i in page_links %}
            <li class="{{ i.class }}">
                <a href="{{ i.url }}">{{ i.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
</div>

<script type="text/javascript">

function main() {
    $(".series-subject").each(function () {
        {% for kw in keywords %}
        $(this).html($(this).html().replace(/{{ kw }}/g,
            "<span class=\"keyword-highlight\">$&</span>"));
        {% endfor %}
    })
}

$(main);

</script>

{% endblock %}
