{% extends 'base.html' %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="/static/css/series-list.css">
{% endblock %}

{% block content %}

<div id="top"></div>
<div class="col-xl-12">
<h2>
 {% block title %}
 {{ title }}
 {% endblock %}
</h2>

{% if link_text %}
<div class="status">
<div class="status-content">
  {% if link_icon %} <span class="fa-lg {{ link_icon }}"></span>{% endif %}
  <div><a href="{{ link_url }}">{{ link_text }}</a></div>
</div>
</div>
{% endif %}


{% if series %}
<table class="table table-sm table-striped">
    <tr>
        {% if project is None %}
        <th>Project</th>
        {% endif %}
        <th>Status</th>
        <th>Subject</th>
        <th>Author</th>
        <th>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% if order_by_reply %} Replied {% else %} Age {% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item href="{{ request.url }}?{% if search %}q={{ search }}&{% endif %}sort=age">Age</a>
                    <a class="dropdown-item href="{{ request.url }}?{% if search %}q={{ search }}&{% endif %}sort=replied">Replied</a>
                </ul>
            </div>
        </th>
    </tr>
    {% for s in series %}
      <tr class="{% for st in s.status_tags %}{% if st.row_class %}{{st.row_class}} {% endif %}{%endfor %}">
            {% if project is None %}
            <td>{{ s.project.name }}</td>
            {% endif %}
            <td class="series-status">
                {% for st in s.status_tags %}
                    {% if st.url %}<a href="{{ st.url }}">{% endif %}<span title="{{ st.title }}" class="badge badge-{{ st.type }}">{{ st.char }}</span>{% if st.url %}</a>{% endif %}
                {% endfor %}
            </td>
            <td>
                <a id="{{ s.message_id }}" href="{{ s.url }}" class="series-subject">{{ s.subject }}</a>
            </td>
            <td>
                <span title="{{ s.sender_full_name }}">
                    {{ s.sender_display_name }}
                </span>
            </td>
            {% if order_by_reply %}
            <td><span class="timestamp" title="{{ s.get_last_reply_date }}">{{ s.get_last_reply_date|naturaltime }}</span></td>
            {% else %}
            <td><span class="timestamp" title="{{ s.date }}">{{ s.date|naturaltime }}</span></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% else %}
    <div id="message">
      <p>No patches found.</p>
      <div class="frownie">:(</div>
    </div>
{% endif %}

{% if is_watched_query %}
    <p>Saved as my watched query</p>
{% endif %}
{% if button_url %}
<form method="post" action="{{ button_url }}">{% csrf_token %}
{% for name, value in button_data.items %}<input type="hidden" name="{{ name }}" value="{{ value }}">
{% endfor %}<input type="hidden" name="next" value="{{ request.get_full_path }}">
<button type="submit">{{ button_text }}</button></form>
{% endif %}

<nav>
    <ul class="pagination pagination-sm">
        {% for i in page_links %}
            <li class="{{ i.class }} page-item">
                 <a class="page-link" href="{% if i.url %}{{ i.url }}{% else %}#" tabindex="-1{% endif %}">{{ i.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
</div>

<script type="text/javascript">

function main() {
    $(".series-subject").each(function () {
        {% for kw in keywords %}
        $(this).html($(this).html().replace(/{{ kw }}/g,
            "<span class=\"keyword-highlight\">$&</span>"));
        {% endfor %}
    })
}

$(main);

</script>

{% endblock %}
