[Unit]
Description=Patchew Tester
After=network.target

[Service]
ExecStart=/usr/bin/patchew-tester
Restart=always
RestartSec=30
User=root
StandardOutput=syslog+journal
StandardError=inherit

[Install]
WantedBy=multi-user.target

