.smiley {
    color: #008900;
}

#message {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    border: 0px 0px 1px 0px;
    border-radius: 0px;
    background: none;
    padding: 3px 3px 5px 3px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: none;
}

.search-help {
    color: #ccc;
}

.search-help:hover {
    color: #aaa;
}

.search-form .form-group {
    width: 600px;
}

.search-form .form-control {
    width: 100%;
}

.user-button {
    margin: 8px 0px 8px 0px;
}

