@import url(brands.min.css);
@import url(fontawesome.min.css);
@import url(regular.min.css);
@import url(solid.min.css);

html, body {
    height: 100%;
}
textarea {
    font-family: monospace;
}
samp {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #eeeeee;
    border-radius: 4px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}
.footer {
    text-align: center;
    color: #888;
}
.footer p {
    margin-bottom: 0;
}
.smiley {
    color: #498300;
}

#message {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    border-radius: 0px;
    background: none;
    padding: 3px 3px 5px 3px;
}

.breadcrumb {
    margin-bottom: 0px;
}

h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 15px;
}

.navbar-light .navbar-nav > .open > a, .navbar-light .navbar-nav > .open > a:focus, .navbar-light .navbar-nav > .open > a:hover {
    background: none;
}

.navigate > .active a {
    text-decoration: none;
    color: #666;
}

.form-glyph-action {
    color: #ccc;
    border: 0;
    background: none;
    padding: 0px 3px;
}

.form-glyph-action:hover {
    color: #aaa;
}

.form-glyph-action:active {
    color: #23527c;
    padding: 0px 3px;
}

.search-form .form-group {
    width: 600px;
}

.search-form .form-control {
    width: 100%;
}

.user-button {
    margin: 8px 0px 8px 0px;
}

.card-toggler {
    cursor: pointer;
}
.card-header > :first-child, .card-body > :first-child {
    margin-top: 0em;
}
.card-header > :last-child, .card-body > :last-child {
    margin-bottom: 0em;
}
.panel-hidden {
    display: none;
}
.card pre {
    background-color: #fff;
    border: none;
}

#pre-fixed {
    margin-top: 1em;
    clear: both;
}
@media (min-width: 1200px) {
  .fixed {
    position: fixed;
    top: 10px;
    padding-left: 0px;
    padding-right: 35px;
  }
}

.status {
    padding-right: 15px;
}
.status .status-content:last-child {
    border-bottom: 0px;
    margin-bottom: 15px;
}
.status-content {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.5em;
    margin: 0.5em 0em;
}

.status-content > .fa, .status-content > .fab, .status-content > .far {
    position: absolute;
    width: 40px;
    margin-top: 0.166666em;
    text-align: center;
    color: #337ab7;
}
.status-content > .fa-exclamation-triangle, .status-content > .fa-times {
    color: #CC0000;
}
.status-content > .fa-check {
    color: #009900;
}
.status-content > div {
    margin-left: 40px;
}

.hover-icon {
    padding-left: 0.5em;
    visibility: hidden;
}
.card-header:hover a.hover-icon, a:hover > span.hover-icon {
    visibility: visible;
}

@media (min-width: 1200px) {
  #detail-ops {
    clear: right;
    float: right;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
  }
}
#detail-ops {
  padding-bottom: 15px;
  padding-right: 15px;
}

#detail-ops > ul {
    list-style-type: none;
    color: #11708f;
    background-color: #d9edf7;
    border-radius: 4px;
    padding: 0px 1em 0px 1em;
    border: 1px solid #dddddd;
}
#detail-ops > ul > li {
    margin: 1em 0.5em;
    padding: 0em;
}
#detail-ops input[type=text] {
    display: none;
}
#detail-ops button {
    margin: 0em;
    padding: 0em;
    border: 0em;
    display: inline;
}
#detail-ops button > .fa, #detail-ops button > .fab, #detail-ops button > .far {
    position: relative;
    padding-right: 1em;
    width: 2em;
    text-align: center;
    display: inline-block;
}

.no-bullet {
    list-style-type: none;
    margin-left: 0.5em;
}
.no-bullet > li {
    margin: 1em 0em;
    padding: 0em;
}
.no-bullet > li.active {
    font-weight: bold;
}
.no-bullet > li .fa, .no-bullet > li .fab, .no-bullet > li .far {
    position: relative;
    color: #337ab7;
    left: -0.5em;
    width: 1em;
    text-align: center;
    display: inline-block;
}

.hljs { color: inherit }
.hljs-deletion, .hljs-addition { font-weight: bold; }

@media (prefers-color-scheme: dark) {
    body, pre, .card, .card pre, .panel, #detail-ops {
        background: #262626;
        color: #e5e5e5;
    }
    .navigate > .active a {
        color: #e5e5e5;
    }

    /* borders in the background color */
    .list-group-item {
        border: 1px solid #262626;
    }

    /* dark borders */
    .page-link.active, .page-link.active:hover, .page-link.active:focus,
    .page-link, .page-link:hover, .page-link:focus {
        border: 1px solid #111111;
    }
    .page-link.disabled, .page-link.disabled:hover, .page-link.disabled:focus {
        background: none;
        border: 1px solid #111111;
    }

    .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: inherit;
    }

    /* hide some light borders */
    .card > .card-header,
    .navbar, .form-control, button, .btn-primary {
	border: 0px;
    }

    /* lighter backgrounds and borders */
    a.list-group-item:hover, a.list-group-item:focus,
    button.list-group-item:hover, button.list-group-item:focus,
    .form-control, button, .btn-primary, samp {
        background: #999999;
	color: black;
    }
    .thumbnail,
    .card,
    #detail-ops > ul {
	border: 1px solid #666666;
    }

    /* hover colors */
    .page-item:hover, .page-item:focus {
        background: none;
     }
    .page-link:hover, .page-link:focus,
    .dropdown-item:hover, .dropdown-item:focus,
    .btn-primary.active {
        background: #d4d4d4;
    }
    .btn-primary.active:hover, .btn-primary.active:focus {
        background: #e5e5e5;
    }
    .form-control::placeholder {
	color: #555555;
    }

    /* slightly lighter elements */
    .pagination > li > a, .pagination > li > span,
    .dropdown-menu, .dropdown-item,
    .list-group-item, a.list-group-item, btn.list-group-item,
    #detail-ops > ul,
    .card > .card-header,
    .thumbnail, .thumbnail .caption,
    .breadcrumb {
        background: #383838;
	color: inherit;
    }
    .status-content {
        border-bottom: 1px solid #383838;
    }

    .table-striped td, .table-striped th {
        border-top: 1px solid #383838 !important;
    }
    .table-striped > tbody th {
	background: #383838;
    }
    .table-striped > tbody > tr:nth-of-type(2n+1) {
	background: #222222;
    }

    /* other colors */
    .btn-link:focus, .btn-link:hover,
    a:focus, a:hover {
        color: #88bbf7;
    }
    .no-bullet > li .fa, .no-bullet > li .fab, .no-bullet > li .far,
    .status-content > .fa, .status-content > .fab, .status-content > .far,
    a, .btn-link {
        color: #66aae7;
    }
    .badge-info {
	background-color: #66aae7;
    }
    .badge-warning {
	background-color: #d3792e;
    }
    .hljs-deletion,
    .status-content > .fa-exclamation-triangle, .status-content > .fa-times {
        color: #dd2222;
    }
    .badge-danger {
	background-color: #dd2222;
    }
    .hljs-insertion,
    .status-content > .fa-check {
	color: #498300;
    }
    .badge-success {
	background-color: #498300;
    }

}
