@media (min-width: 1200px) {
  .project-logo {
	background: white;
	padding: 1em;
	float: right;
  }
  @media (prefers-color-scheme: dark) {
    .project-logo {
      background: #262626;
    }
  }
}
.project-logo {
	display: block;
	padding-bottom: 1em;
}

.project-description {
	margin-bottom: 1em;
}
