.series-header-info {
    padding-bottom: 1em;
}

.message-author, .series-header-info .message-age {
    font-weight: bold;
}

#patches {
    margin: 1.5em 0;
    list-style-type: none;
    padding: 0em 0em 0em 2em;
    margin-left: 0.5em;
}
#patches > li {
    margin: 1em 0em;
    padding: 0em;
}
#patches > li.active {
    font-weight: bold;
}
#patches > li .fa {
    position: relative;
    color: #337ab7;
    left: -0.5em;
    width: 1em;
    text-align: center;
    display: inline-block;
}

.message-info {
    margin: 0.25em 0em;
    font-size: 90%;
}

.reply-lvl-0 {
}
.reply-lvl-1 {
    margin-left: 0.5em;
}
.reply-lvl-2 {
    margin-left: 1em;
}
.reply-lvl-3 {
    margin-left: 1.5em;
}
.reply-lvl-4 {
    margin-left: 2em;
}

#series-links::before {
    display: inline;
    margin-left: 1em;
    border: 1px solid #666666;
    margin-right: 1em;
    content: "";
}
#series-links {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#series-links > li::after {
    display: inline-block;
    padding-right: 1em;
    content: "";
}

#series-links > li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#series-links > li > .fa {
    display: inline-block;
    padding-right: 3px;
}
