.series-header-info {
    padding-bottom: 1em;
}

.message-author, .series-header-info .message-age {
    font-weight: bold;
}

.message-info {
    margin: 0.25em 0em;
    font-size: 90%;
}

.reply-lvl-0 {
}
.reply-lvl-1 {
    margin-left: 8px;
}
.reply-lvl-2 {
    margin-left: 16px;
}
.reply-lvl-3 {
    margin-left: 24px;
}
.reply-lvl-4 {
    margin-left: 32px;
}

.panel {
    margin-bottom: 10px;
}

#series-links::before {
    display: inline;
    margin-left: 1em;
    border: 1px solid #666666;
    margin-right: 1em;
    content: "";
}
#series-links {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#series-links > li::after {
    display: inline-block;
    padding-right: 1em;
    content: "";
}

#series-links > li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#series-links > li > .fa {
    display: inline-block;
    padding-right: 3px;
}
