.series-status a:hover {
    text-decoration: none;
}
.keyword-highlight {
    background: yellow;
}
.frownie {
    color: #890000;
}

.dropdown a:hover, .dropdown a:focus {
    text-decoration: none;
}

tr.obsolete > td, tr.obsolete > td a {
    color: #999999;
}
