.series-status a:hover {
    text-decoration: none;
}
.keyword-highlight {
    background: yellow;
}
@media (prefers-color-scheme: dark) {
  .keyword-highlight {
    background: #111111;
    outline: 1px solid #666666;
  }
}
.frownie {
    color: #890000;
}

.dropdown a:hover, .dropdown a:focus {
    text-decoration: none;
}

tr.obsolete > td, tr.obsolete > td a {
    color: #999999;
}
