.panel-toggler {
    cursor: pointer;
}
.message .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}
.panel-hidden {
    display: none;
}
.panel-body pre {
    background-color: #fff;
    border: none;
    padding: 5px;
}
.message {
    margin-bottom: 5px;
}

.reply-lvl-0 {
}
.reply-lvl-1 {
    margin-left: 8px;
}
.reply-lvl-2 {
    margin-left: 16px;
}
.reply-lvl-3 {
    margin-left: 24px;
}
.reply-lvl-4 {
    margin-left: 32px;
}

.panel {
    margin-bottom: 10px;
}
