PATCHEW_SERVER={{ patchew_server }}
PATCHEW_USER={{ importer_user }}
PATCHEW_PASS={{ importer_pass }}

IMAP_SERVER={{ imap_server }}
IMAP_USER={{ imap_user }}
IMAP_PASS={{ imap_pass }}
IMAP_CERT_FINGERPRINT={{ imap_cert_fingerprint }}
IMAP_FOLDERS={{ imap_folders }}
IMAP_DELETE_AFTER_IMPORT={{ imap_delete_after_import }}

SSL_CACERT_PATH={{ ssl_cacert_path }}
